@import "bootstrap/dist/css/bootstrap.css";

* {
  box-sizing: border-box;
}
body {
  margin: 15px;
  width: auto;
}

.container {
  max-width: 1895px;
}

.table-header,
.col-header,
.col-content {
  text-align: center;
  padding: 0.5rem 0.5rem;
}

.table-secondary {
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

th,
td {
  border-width: 1px;
}

.form-container,
.note-container,
.btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.form-wrapper {
  display: flex;
  gap: 10px;
}

.cntrls-wrapper {
  display: flex;
  justify-content: space-between;
}

.btns-wrapper {
  display: flex;
  gap: 5px;
}

.actions-cell {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-form {
  width: 320px;
}

input,
select {
  height: 40px;
}
select {
  max-width: 150px;
}
input {
  width: 100%;
  max-height: 38px;
}
.form-input {
  width: 520px;
}
.form-container span {
  position: absolute;
  top: 460px;
  left: 215px;
}
